@charset "UTF-8";

@import "~normalize.css/normalize.css";

html {
  font: .9em normal Arial, sans-serif;
  color: #626771;
  background-color: #fff;
}

body {

}

#body {
  text-align: center;
  position: absolute;
  width: 100%;
  height: 100%;
  margin: auto auto;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
}
